* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(208, 209, 211);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
  }
  #header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  ul {
    padding: 0;
  }
  
  .clr {
    clear: both;
  }
  #container {
    background: cornflowerblue;
    width: 960px;
    height: fit-content;
    margin: 30px auto;
    overflow: hidden;
    padding: 10px;
  }
  #main {
    width: 100%;
    margin-top: 10px;
    text-align: center;
   padding-bottom: 40px;

  }
  #nav {
    height: 50px;
    background-color: rgb(173, 182, 238);
  }
  
  #nav ul {
    padding-top: 10px;
    padding-left: 10px;
  }
  #nav li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }
  
  #nav .active {
    font-weight: bold;
    color: #000;
  }
  #footer {
    text-align: center;
    background: rgb(173, 182, 238);
    font-size: smaller;
    padding-top: 1px;
    padding-bottom: 1px;

  }
  .footerInfor{
    line-height: 1rem;
  }
  #table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: small;
    text-align: center;
  }
  .nimi {
    text-align: left;
  }
 
  .inputFinnishWord {
    width: 50%;
    height: 30px;
  }
  input {
      text-align: center;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  .searchButton {
    width: auto;
    height: 30px;
    margin-left: auto;
  }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #4CAF50;} 
  .button2 {background-color: #008CBA;} 
  .button {
    width: 80%;
  }
 
  .inputFin{margin: auto; width: 40%; height: 30px;text-align: left; margin-bottom: 5px;}
  .inputEn{margin: auto;width: 40%; height: 30px;text-align: left;}
  .saveButton{width: 10%; font-weight: bold;}

  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  
